<div class="chat-item"{{#if id}} with-id={{id}}{{/if}}{{#if avatar}} with-avatar{{/if}}{{#if
  createdBy}} with-author={{createdBy}}{{/if}}
  {{#if unreadCount}} unreadCount={{unreadCount}}{{/if}}{{#if active}} active{{/if}} onClick="{{onClick}}">
  <div class="chat-item__info"{{#if id}} with-id={{id}}{{/if}}>
    <p>{{title}}</p>
    <span>{{lastMessage}}</span>
  </div>
  <div class="chat-item__trash-bin"{{#if id}} with-id={{id}}{{/if}}>
    <img src="https://cdn-icons-png.flaticon.com/128/5028/5028066.png" loading="lazy" alt="Trash bin "
         title="Trash bin "
         width="24" height="24">
  </div>
</div>

