<form class="login-page">
  <div class="login-page__content">
    {{{page_title}}}
    {{{input_field_login}}}
    {{{input_field_password}}}
  </div>
  <div class="login-page__footer">
    {{{button}}}
    <div id="login-error" class="register-page__error"></div>
    {{{link}}}
  </div>
</form>