<form class="login-page">
  <div class="login-page__content">
    {{{ page_title }}}
    {{{ input_field_login }}}
    {{{ input_field_password }}}
  </div>
  <div class="login-page__footer">
    {{{ button }}}
    {{{ link }}}
  </div>
</form>
