<form class="register-page">
  <div class="register-page__content">
    {{{ page_title }}}
    {{{ login_field }}}
    <div id="login-error" class="register-page__error"></div>
    {{{ first_name_field }}}
    <div id="first_name-error" class="register-page__error"></div>
    {{{ second_name_field }}}
    <div id="second_name-error" class="register-page__error"></div>
    {{{ email_field }}}
    <div id="email-error" class="register-page__error"></div>
    {{{ phone_field }}}
    <div id="phone-error" class="register-page__error"></div>
    {{{ password_field }}}
    <div id="password-error" class="register-page__error"></div>
    {{{ repeat_password_field }}}
    <div id="repeat_password-error" class="register-page__error"></div>
  </div>
  <div class="register-page__footer">
    {{{ register_button }}}
    {{{ login_link }}}
  </div>
</form>
