<form class="register-page">
  <div class="register-page__content">
    {{{ page_title }}}
    {{{ login_field }}}
    {{{ first_name_field }}}
    {{{ second_name_field }}}
    {{{ phone_field }}}
    {{{ password_field }}}
    {{{ repeat_password_field }}}
  </div>
  <div class="register-page__footer">
    {{{ register_button }}}
    {{{ login_link }}}
  </div>
</form>
