<form class="profile-page">
  <div class="profile-page__content">
    <div class="profile-page__avatar-block">
      {{{ image }}}
    </div>

    {{{ page_title }}}
    {{{ email_with_label }}}
    {{{ hr1 }}}
    {{{ login_with_label }}}
    {{{ hr2 }}}
    {{{ first_name_with_label }}}
    {{{ hr3 }}}
    {{{ second_name_with_label }}}
    {{{ hr4 }}}
    {{{ display_name_with_label }}}
    {{{ hr5 }}}
    {{{ phone_with_label }}}
  </div>
  <div class="profile-page__footer">
    {{{ _404 }}}
    {{{ hr6 }}}
    {{{ _5xx }}}
    {{{ hr7 }}}
    {{{ login_link }}}
    {{{ hr8 }}}
  </div>
</form>
