<div class="settings-page__content">
  <div class="settings-page__avatar-block">
    {{{image}}}
  </div>

  {{{page_title}}}
  {{{email_with_label}}}
  <div id="email-error" class="settings-page__error"></div>
  {{{hr1}}}
  {{{login_with_label}}}
  <div id="login-error" class="settings-page__error"></div>
  {{{hr2}}}
  {{{first_name_with_label}}}
  <div id="first_name-error" class="settings-page__error"></div>
  {{{hr3}}}
  {{{second_name_with_label}}}
  <div id="second_name-error" class="settings-page__error"></div>
  {{{hr4}}}
  {{{display_name_with_label}}}
  <div id="display_name-error" class="settings-page__error"></div>
  {{{hr5}}}
  {{{phone_with_label}}}
  <div id="phone-error" class="settings-page__error"></div>
</div>