<div class="settings-page__content">
  <div class="settings-page__avatar-block">
    {{{image}}}
  </div>

  {{{page_title}}}
  {{{old_password}}}
  <div id="old_password-error" class="settings-page__error"></div>
  {{{hr1}}}
  {{{new_password}}}
  <div id="new_password-error" class="settings-page__error"></div>

</div>