<div class="message {{#if reply}}reply{{/if}}" {{#if id}}data-message-id="{{id}}"{{/if}}>
  <p class="message-author">{{author}}</p>
  {{#if time}}
    <p class="message-time">{{time}}</p>
  {{/if}}
  <div class="message-content">
    <p>{{content}}</p>
    {{{ image }}}
  </div>
</div>
